{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>About Me</h1>

            <h2>Contact Information</h2>

            <p>Email: <a target="_top" href="mailto:&#112;&#104;&#101;&#110;&#114;&#121;&#64;&#99;&#97;&#108;&#116;&#101;&#99;&#104;&#46;&#101;&#100;&#117;">&#112;&#104;&#101;&#110;&#114;&#121;&#64;&#99;&#97;&#108;&#116;&#101;&#99;&#104;&#46;&#101;&#100;&#117;</a></p>

            <p>Github: <a href="https://github.com/mosbasik">https://github.com/mosbasik</a></p>

            <p>LinkedIn: <a href="https://www.linkedin.com/in/peterhenry7">https://www.linkedin.com/in/peterhenry7</a></p>

            {# <h2>Ancient History</h2> #}

            {# <p> #}

            {# I have  #}

            {# </p> #}
        </div>
    </div>
{% endblock content %}
