{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>About Me</h1>

            <div class="row">
                <div class="col-md-6 col-md-push-6">

                    <h2>Contact Information</h2>
                    <p>Email: <a target="_top" href="mailto:&#112;&#104;&#101;&#110;&#114;&#121;&#64;&#99;&#97;&#108;&#116;&#101;&#99;&#104;&#46;&#101;&#100;&#117;">&#112;&#104;&#101;&#110;&#114;&#121;&#64;&#99;&#97;&#108;&#116;&#101;&#99;&#104;&#46;&#101;&#100;&#117;</a></p>
                    <p>Github: <a href="https://github.com/mosbasik">https://github.com/mosbasik</a></p>
                    <p>LinkedIn: <a href="https://www.linkedin.com/in/peterhenry7">https://www.linkedin.com/in/peterhenry7</a></p>

                </div>

                <div class="col-md-6 col-md-pull-6">
                    <h2>Some History</h2>

                    <h3>Overview</h3>

                    <p>

                    I was born in the United States, but grew up in Central
                    Africa - my first fourteen years in the

                    <a href="https://en.wikipedia.org/wiki/Democratic_Republic_of_the_Congo" title="Wikipedia: Democratic Republic of the Congo">Democratic Republic of the Congo</a>,

                    then four years of high school at

                    <a href="http://www.rva.org/" title="RVA: Shaping Lives to Change the World">Rift Valley Academy</a>

                    in

                    <a href="https://en.wikipedia.org/wiki/Kenya" title="Wikipedia: Kenya">Kenya</a>.

                    </p>
                    <p>

                    After completing high school I returned to the US to study
                    at the

                    <a href="http://www.caltech.edu/" title="California Institute of Technology">California Institute of Technology</a>.

                    So far, I have completed three years of my Bachelor's
                    Degree in Computer Science.

                    </p>

                    <h3>Technology</h3>

                    <p>

                    I've been interested in tech since I was 9 years old and my
                    parents gave me a hand-me-down laptop loaded with Windows
                    98.

                    </p>
                    <p>

                    I learned how to type on it using Mavis Beacon - then
                    crashed it a couple of months later by trying to install a
                    racing game on it written for Windows XP.

                    </p>
                    <p>

                    In 8<sup>th</sup> grade I was introduced to programming
                    with

                    <a href="https://en.wikipedia.org/wiki/Turbo_Pascal" title="Wikipedia: Turbo Pascal">Turbo Pascal</a>

                    and crashed my new XP machine several times.

                    </p>
                    <p>

                    During high school I took several Java courses, and also
                    did all of the classic things computer kids do - proxied
                    around the school filter to get on Facebook and Youtube,
                    sniffed school wifi passwords with

                    <code>aircrack-ng</code>,

                    figured out how to access password-protected XP machines
                    using rainbow tables, etc., etc.  At this point I had
                    figured out how to dual boot Linux and was pretty sure that
                    I wanted to study computer science in college.

                    </p>
                    <p>

                    Now, after some years in college, I've got a decent amount
                    of experience in a number of languages and quite a lot of
                    algorithm theory under my belt.  I've gotten <em>a lot of
                    practice</em> reading documentation.  And with all that, I
                    still crash my computer a couple times a year by messing
                    around with the internals - and have fun doing it.

                    </p>

                    {# <h3>Leisure</h3> #}

                    {# <p> #}

                    {# asddf #}

                    {# </p> #}
                    {# <p> #}
                </div>

                {# <div class="col-md-6"> #}

                    {# <h3>Leisure</h3> #}

                    {# <p> #}

                    {# asddf #}

                    {# </p> #}
                {# </div> #}

            </div>
        </div>
    </div>
{% endblock content %}
