{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>About Me</h1>
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    {{ contact_info.body }}
                </div>

                <div class="col-md-6 col-md-pull-6">
                    {{ overview.body }}
                </div>

                <div class="col-md-6">
                    {{ technology.body }}
                </div>

                <div class="col-md-6">
                    {{ leisure.body }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
