{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h5>{{ entry.display_date }}</h5>
            <h1>{{ entry.title }}</h1>
            {{ entry.body }}
        </div>
        <div class="col-xs-12 details-footer">
            {% with entry.next as next %}
                {% if next %}
                    <span class="pull-left"><a target="_self" href="{% url 'blog_details' next.year next.month next.day next.slug %}">&lt;- {{ next.title }}</a></span>
                {% else %}
                    <span class="pull-left">No newer blogs.</span>
                {% endif %}
            {% endwith %}

            {% with entry.previous as previous %}
                {% if previous %}
                    <span class="pull-right"><a target="_self" href="{% url 'blog_details' previous.year previous.month previous.day previous.slug %}">{{ previous.title }} -&gt;</a></span>
                {% else %}
                    <span class="pull-right">No older blogs.</span>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock content %}
