{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row navlinks navheader">
        {% include "main/nav_next.html" %}
        {% include "main/nav_previous.html" %}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>{{ entry.title }}</h1>
            <h5>{{ entry.display_date }}</h5>
            <hr>
            {{ entry.body }}
        </div>
    </div>

    <div class="row navlinks navfooter">
        {% include "main/nav_next.html" %}
        {% include "main/nav_previous.html" %}
    </div>
{% endblock content %}
