{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {{ welcome.body }}
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2>Recent Blogs</h2>
            {% for blog in blogs %}
                <div class="row clickable-entry">
                    <div class="col-xs-12">
                        <a target="_self" href="{% url 'blog_details' blog.year blog.month blog.day blog.slug %}"></a>
                        <h5>{{ blog.display_date }}</h5>
                        <h2>{{ blog.title }}</h2>
                        <span>{{ blog.body|striptags|truncatewords:50 }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-12">
                    {% if blogs.count > 0 %}
                        <a class="pull-right" target="_self" href="{% url 'blog_list' %}">See more blog entries -></a>
                    {% else %}
                        <p>No blog entries yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 hidden-md hidden-lg">
            <hr>
        </div>

        <div class="col-md-6">
            <h2>Projects</h2>
            {% for project in projects %}
                <div class="row clickable-entry">
                    <div class="col-xs-12">
                        <a target="_self" href="{% url 'project_details' project.year project.month project.day project.slug %}"></a>
                        <h5>{{ project.display_date }}</h5>
                        <h2>{{ project.title }}</h2>
                        <span>{{ project.body|striptags|truncatewords:50 }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-12">
                    {% if projects.count > 0 %}
                        <a class="pull-right" target="_self" href="{% url 'project_list' %}">See more projects -></a>
                    {% else %}
                        <p>No projects yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
