{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome</h1>

            <figure class="right">
                <a href="/media/portrait.png">
                    <img alt="Peter Henry Portrait" title="I have probably not cut my hair since this picture was taken." src="/media/portrait.png" width="33%">
                </a>
                <figcaption>
                </figcaption>
            </figure>

            <p>

            I program.  This site is where my thoughts and projects go.

            </p>
            <p>

            I'm  interested in a little bit of everything.

            </p>
            <p>

            Some interests are more technical - software architecture,
            security, web development, mobile app development, user interface
            design and virtual economies, to name a few.

            </p>
            <p>

            Others are more free-form - group dynamics, dance, music
            production, game design, long hair, bicycling, nutrition, and sleep
            theory.

            </p>
            <p>

            This blog is likely to be a fair mix between the two. (Eventually I
            might even make a tagging system so it's possible to find one or
            the other!)

            </p>
            <p>

            Since I've only recently published this site, parts of it are
            likely to be under construction for a while.  I have a number of
            ideas that I would like to implement as I have time - so please
            forgive any unpolished sections.

            </p>

        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2>Recent Blogs</h2>
            {% for blog in blogs %}
                <div class="row clickable-entry">
                    <div class="col-xs-12">
                        <a target="_self" href="{% url 'blog_details' blog.year blog.month blog.day blog.slug %}"></a>
                        <h5>{{ blog.display_date }}</h5>
                        <h2>{{ blog.title }}</h2>
                        <span>{{ blog.body|striptags|truncatewords:50 }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-12">
                    {% if blogs.count > 0 %}
                        <a class="pull-right" target="_self" href="{% url 'blog_list' %}">See more blog entries -></a>
                    {% else %}
                        <p>No blog entries yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 hidden-md hidden-lg">
            <hr>
        </div>

        <div class="col-md-6">
            <h2>Projects</h2>
            {% for project in projects %}
                <div class="row clickable-entry">
                    <div class="col-xs-12">
                        <a target="_self" href="{% url 'project_details' project.year project.month project.day project.slug %}"></a>
                        <h5>{{ project.display_date }}</h5>
                        <h2>{{ project.title }}</h2>
                        <span>{{ project.body|striptags|truncatewords:50 }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-12">
                    {% if projects.count > 0 %}
                        <a class="pull-right" target="_self" href="{% url 'project_list' %}">See more projects -></a>
                    {% else %}
                        <p>No projects yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
