{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Personal Projects</h1>
        </div>
    </div>
    {% for entry in entries %}
        <div class="row clickable-entry">
            <div class="col-xs-12">
                <a target="_self" href="{% url 'project_details' entry.year entry.month entry.day entry.slug %}"></a>
                <h5>{{ entry.display_date }}</h5>
                <h2>{{ entry.title }}</h2>
                <span>{{ entry.body|striptags|truncatewords:50 }}</span>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
