{% extends "main/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Projects</h1>
            </div>
        </div>
        {% for entry in entries %}
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="inline-header"><a target="_self" href="{% url 'blog_details' entry.year entry.month entry.day entry.slug %}">{{ entry.title }}</a></h2> <div class="inline-header">{{ entry.display_date }}</div>
                    {% with entry.ordered_sections|first as section %}
                        <p>{{ section.body|striptags|truncatewords:50 }}</p>
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
