
// solarized colorscheme

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// ==================== font installation ====================
@font-face {
  font-family: 'menlo';
  src: url('/static/main/fonts/menlo-regular.ttf');
  // src: local('/static/main/fonts/menlo-regular.ttf');
}

.inline-header {
    display: inline-block;
}


// ==================== solarized light/dark switch ====================
@mixin rebase($rebase03,
              $rebase02,
              $rebase01,
              $rebase00,
              $rebase0,
              $rebase1,
              $rebase2,
              $rebase3) {
    background-color:$rebase03;
    color:$rebase0;
    * {
        font-family: menlo, monospace;
        color:$rebase0;
        p {
            margin-top: 0;
            margin-bottom: 1em;
        }
    }
    h1,h2,h3,h4,h5,h6 {
        color:$rebase1;
        border-color: $rebase0;
    }
    a, a:active, a:visited {
        color: $rebase1;
    }
    .navbar {
        background-color: $rebase02;
        border: none;
    }
}


@mixin accentize($accent1, $accent2) {
    a {
        color: $accent1;
        text-decoration: none;
        &:active, &:visited, code.url {
            color: $accent1;
        }
        &:hover {
            color: $accent2;
        }
    }

    h1,h2,h3,h4,h5,h6 {
        color:$accent1
    }
    .navbar {
        color: $accent1;
        border-radius: 0;
        a:hover, a:focus {
            background: none;
            color: $accent2;
        }
    }
    body {
        background: none;
    }
    hr {
        border-color: $accent1;
    }
}


/* light is default mode, so pair with general html definition */
.light {
    @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
    @include accentize($blue, $yellow);
}


.dark {
    @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
    @include accentize($orange, $cyan);
}


html * {
    color-profile: sRGB;
    rendering-intent: auto;
}
